// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// Following Sass Guidelines: https://sass-guidelin.es/#architecture
// -----------------------------------------------------------------------------

@use 'variables' as *;
@use 'sass:map';

/// Event wrapper for hover, active, and focus states
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
/// @example scss
///   .foo {
///     color: red;
///     @include respond-to('medium') {
///       color: blue;
///     }
///   }
@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $value: map.get($breakpoints, $breakpoint);
    @media screen and (min-width: $value) {
      @content;
    }
  } @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
        + 'Available breakpoints are: #{map.keys($breakpoints)}.';
  }
}

/// Responsive media query for max-width (mobile-first approach)
/// @access public
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-below($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $value: map.get($breakpoints, $breakpoint);
    @media screen and (max-width: $value - 1px) {
      @content;
    }
  } @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
        + 'Available breakpoints are: #{map.keys($breakpoints)}.';
  }
}

/// Responsive between two breakpoints
/// @access public
/// @param {String} $lower - Lower breakpoint name
/// @param {String} $upper - Upper breakpoint name
/// @require $breakpoints
@mixin respond-between($lower, $upper) {
  @if map.has-key($breakpoints, $lower) and map.has-key($breakpoints, $upper) {
    $lower-value: map.get($breakpoints, $lower);
    $upper-value: map.get($breakpoints, $upper);
    @media screen and (min-width: $lower-value) and (max-width: $upper-value - 1px) {
      @content;
    }
  } @else {
    @if not map.has-key($breakpoints, $lower) {
      @warn 'Your lower breakpoint `#{$lower}` was not found in $breakpoints.';
    }
    @if not map.has-key($breakpoints, $upper) {
      @warn 'Your upper breakpoint `#{$upper}` was not found in $breakpoints.';
    }
  }
}

/// Visually hide an element but keep it accessible
/// @link https://www.a11yproject.com/posts/how-to-hide-content/
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/// Clearfix mixin for clearing floats
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

/// Truncate text with ellipsis
@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/// Multi-line truncate
/// @param {Number} $lines - Number of lines to show
@mixin line-clamp($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/// Center element with flexbox
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/// Aspect ratio box
/// @param {Number} $width - Width ratio
/// @param {Number} $height - Height ratio
@mixin aspect-ratio($width: 16, $height: 9) {
  position: relative;
  
  &::before {
    content: '';
    display: block;
    padding-bottom: calc(($height / $width) * 100%);
  }
  
  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/// Smooth font rendering
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/// Generate hover effects with transition
/// @param {String} $property - CSS property to transition
/// @param {Time} $duration [$base-duration] - Transition duration
@mixin hover-transition($property: all, $duration: $base-duration) {
  transition: $property $duration $base-timing;
  
  @include on-event {
    @content;
  }
}

/// Focus ring styles for accessibility
@mixin focus-ring($color: $brand-color, $offset: 2px) {
  &:focus-visible {
    outline: 2px solid $color;
    outline-offset: $offset;
  }
}

/// Container with max-width and centered
@mixin container($max-width: $max-width) {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: spacing('sm');
  padding-right: spacing('sm');
  
  @include respond-to('medium') {
    padding-left: spacing('md');
    padding-right: spacing('md');
  }
  
  @include respond-to('large') {
    padding-left: spacing('lg');
    padding-right: spacing('lg');
  }
}

/// Button reset
@mixin button-reset {
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

/// Link reset
@mixin link-reset {
  color: inherit;
  text-decoration: none;
}

/// List reset
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

