name = "wildmat-api"
main = "src/index.ts"
compatibility_date = "2025-02-12"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

[[routes]]
pattern = "api.wildmat.dev/*"
zone_name = "wildmat.dev"
