// -----------------------------------------------------------------------------
// This file contains a minimal CSS reset.
// Following Sass Guidelines: https://sass-guidelin.es/#architecture
// Based on modern CSS reset principles
// -----------------------------------------------------------------------------

@use '../abstracts' as *;

// Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin and padding
* {
  margin: 0;
  padding: 0;
}

// Allow percentage-based heights in the application
html,
body {
  height: 100%;
}

// Typographic tweaks!
// Add accessible line-height
// Improve text rendering
body {
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Improve media defaults
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// Remove built-in form typography styles
input,
button,
textarea,
select {
  font: inherit;
}

// Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// Create a root stacking context
#root {
  isolation: isolate;
}

// Remove list styles on ul, ol elements with a list role
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

// Remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

